@import "tailwindcss";

@theme {
  --color-primary: #135bec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  
  --font-display: "Space Grotesk", sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-gray-900 dark:text-white;
  }
}

@layer utilities {
  .font-display {
    font-family: var(--font-display);
  }
}
